version: '3.8'

services:
  server:
    build:
      context: ./server
    env_file: ./.env
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    networks:
      - app-network

  client:
    build:
      context: ./client
    env_file: ./.env
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
